/* OTF 폰트 정의 */
@font-face {
    font-family: 'GungnipClassic';
    src: url('/assets/fonts/OTF/국립박물관문화재단클래식L.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GungnipClassic';
    src: url('/assets/fonts/OTF/국립박물관문화재단클래식M.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GungnipClassic';
    src: url('/assets/fonts/OTF/국립박물관문화재단클래식B.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif KR', serif;
    min-height: 100vh;
    overflow-x: hidden;
}

/* 공통 반응형 스타일 */
@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}
